* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.top {
  min-height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/topback.jpg);
  background-position: center;
  background-size: cover;
}
.top__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-top: 20%;
}
.top__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  width: 788px;
}
.top__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  width: 481px;
  padding-bottom: 12px;
}
.top__button {
  background: #9C0332;
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
  width: 234px;
  height: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
  display: block;
  padding: 13px 74px;
}
.top__button:hover {
  background-color: #04f0ff;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ccc;
}

.menu-game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.menu-game__item {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 32px;
  display: flex;
  min-height: 300px;
  width: 378px;
  box-sizing: border-box;
  border-radius: 16px;
  align-items: flex-end;
  transition: all 0.3s;
}
.menu-game__item_1 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game1.jpg);
}
.menu-game__item_2 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game2.jpg);
}
.menu-game__item_3 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game3.jpg);
}
.menu-game__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #04f0ff;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 233px;
  padding-bottom: 233px;
}
.game__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 584px;
  align-items: flex-start;
}
.game__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.game__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.game__text_3 {
  text-align: center;
}
.game__button {
  background: #9C0332;
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
  width: 234px;
  height: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
  display: block;
  padding: 13px 74px;
}
.game__button:hover {
  background-color: #04f0ff;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ccc;
}
.game__img {
  height: 333px;
  width: 485px;
}

.game2 {
  flex-direction: row-reverse;
}

.game3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  gap: 32px;
  padding-top: 276px;
  padding-bottom: 288px;
  background-position: center;
  background-size: cover;
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/backgame3.jpg), #000915;
}

.footer {
  height: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(184, 212, 255, 0.2);
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 735px;
  }
  .top__content {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 343px;
  }
  .top__text {
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    text-align: center;
    padding: 0;
  }
  .game {
    gap: 64px;
    padding-top: 50px;
    padding-bottom: 85px;
    display: flex;
    justify-content: center;
  }
  .game__content {
    align-items: center;
  }
  .game__heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 100%;
  }
  .game__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .game__img {
    height: 236px;
    width: 344px;
  }
  .game3 {
    padding-top: 51px;
    padding-bottom: 487px;
  }
}/*# sourceMappingURL=style.css.map */